
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing:border-box;
}

body{
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(0, 0, 0,0.5), rgba(0,0,0,0.5)),url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 5px;
    font-size: 15px;
}

#current-weather-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    font-weight: 600;
    font-size: 24px;
}

#current-title{
    font-size: 30px;
    
}



